body, html {
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow-x: hidden;
    font-family: "Pretendard", sans-serif;
}

.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(180deg, #A67CFF, #B6C9FF, #E9F2FF);
    z-index: -1;
}

/* 흰색 섹션 */
#white-section {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 60px 30px;
    transform: translateY(150px);
    transition: transform 0.7s ease;
    
}

#white-section.active {
    transform: translateY(0);
}

.title-box h1 {
    font-size: 4rem;
    margin: 40px 0 0 0;
    font-weight: 800;
    color: white;
}

.title-box {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 120px;
}

.gradient-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gradient-buttons button {
    background: rgba(255, 255, 255, 0.25);
    border: none;
    padding: 12px 28px;
    font-size: 1.2rem;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: 0.25s ease;
}

.gradient-buttons button:hover {
    background: rgba(255, 255, 255, 0.45);
    transform: translateY(-4px);
}
